extends ../layouts/main-layout.pug

block content
    main.centered
        article.card.produt-item
            header.card_header
                h1.product_title #{product.title}
            hr
            div.card_image
                img(src=product.imageUrl, alt=product.title)
            div.card_content   
                h2.product_price #{product.price}
                p.product_description #{product.description}      
            form(action="/cart", method="post")
                input(type="hidden", name="productId" value=product.id)
                button(type="submit").btn Add to cart!!